@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
    background-image: url(./background-2/red-grunge-background.jpg);
    background-position: center;
}

.principal{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    color: aliceblue;
    padding: 100px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(1px);
}

.principal h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.gmail{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 30px 0;
}

.gmail input{
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
    color: rgb(240, 248, 255);
    padding: 20px 35px 20px 20px;
    border-radius: 40px;
}
.gmail h2{
    font-size: 20px;
    margin-left: 15px;
    color: black;
    margin: 0px 15px ;
}

.confirm-email{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 30px 0;
}

.confirm-email input{
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
    color: rgb(240, 248, 255);
    padding: 20px 35px 20px 20px;
    border-radius: 40px;
}

.confirm-email h2{
     font-size: 20px;
    margin-left: 15px;
    color: black;
    margin: 0px 15px;
}

.senha{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 30px 0;
}

.senha input{
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
    color: rgb(240, 248, 255);
    padding: 20px 35px 20px 20px;
    border-radius: 40px;
}

.senha h2{
    font-size: 20px;
    color: black;
    margin: 0px 15px;
}

.campo-seleçao{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
    
}

.campo-seleçao h2{
    font-size: 20px;
    color: black;
    margin: 0px 5px;
}


.selecao-bandeiras select{
    border-color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;   
    appearance: none;
    -webkit-appearance: none;
    border-radius: 40px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 15px 10px 10px;
}

.idade label{
    accent-color: #ff0000;
    margin-right: 5px ;
    
}

.butao{
    color: #ffffff;
    width: 100%;
    height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: #333;
    font-weight: 600;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 30px;
}

.butao:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.5s;
    
}
